resources:
  - namespace.yaml
  - db-pv.yaml
  - db-backup-pv.yaml
  - db-backup/
  - ../../base/gpupoet/
  - app-ingress-certificate.yaml
  - www-redirect-middleware.yaml
  - www-redirect-ingress.yaml
  - image-scanning/
  - indexnow-pv.yaml
  - ../shared/ghcr-pull-secret/
patches:
  - path: patch-app-ingress.yaml
    target:
      kind: Ingress
      name: gpupoet-app-ingress
  # patch the volume name in the PVC's used in the StatefulSet:
  - patch: |-
      - op: replace
        path: /spec/volumeClaimTemplates/0/spec/volumeName
        value: coinpoet-prod-db-pv-data
    target:
      kind: StatefulSet
      name: db
  # Add imagePullSecrets (moved from base to production overlay)
  - patch: |-
      - op: add
        path: /spec/template/spec/imagePullSecrets
        value:
          - name: github-container-registry-secret
    target:
      kind: Deployment
      name: app
  # IndexNow: Patch PVC to use production PV
  - patch: |-
      - op: replace
        path: /spec/storageClassName
        value: local-path
      - op: replace
        path: /spec/volumeName
        value: coinpoet-prod-indexnow-pv
    target:
      kind: PersistentVolumeClaim
      name: indexnow-pvc
  # IndexNow: Add imagePullSecrets to CronJob
  - patch: |-
      - op: add
        path: /spec/jobTemplate/spec/template/spec/imagePullSecrets
        value:
          - name: github-container-registry-secret
    target:
      kind: CronJob
      name: indexnow-notifier
namespace: gpupoet-prod
secretGenerator:
  # db
  - name: db-creds
    envs:
      - .env.secret.db.encrypted
  # app
  - name: app-creds
    envs:
      - .env.secret.app.encrypted
# the images tag: https://kubectl.docs.kubernetes.io/references/kustomize/builtins/#_imagetagtransformer_
images:
  - name: gpupoet-image-app
    newName: ghcr.io/activescott/gpu-agent/app # {"$imagepolicy": "gpupoet-prod:policy-gpupoet-app:name"}
    newTag: v202602011941 # {"$imagepolicy": "gpupoet-prod:policy-gpupoet-app:tag"}
  - name: gpupoet-image-db
    newName: postgres
    newTag: "17"
  - name: indexnow-notifier-image-placeholder
    newName: ghcr.io/activescott/gpu-agent/indexnow-notifier
    newTag: latest
