resources:
  - namespace.yaml
  - db-pv.yaml
  - db-backup-pv.yaml
  - db-backup/
  - ../../base/gpupoet/
  - app-ingress-certificate.yaml
  - www-redirect-middleware.yaml
  - www-redirect-ingress.yaml
  - image-scanning/
patches:
  - path: patch-app-ingress.yaml
    target:
      kind: Ingress
      name: gpupoet-app-ingress
  # patch the volume name in the PVC's used in the StatefulSet:
  - patch: |-
      - op: replace
        path: /spec/volumeClaimTemplates/0/spec/volumeName
        value: coinpoet-prod-db-pv-data
    target:
      kind: StatefulSet
      name: db
  # Add imagePullSecrets (moved from base to production overlay)
  - patch: |-
      - op: add
        path: /spec/template/spec/imagePullSecrets
        value:
          - name: github-container-registry-secret
    target:
      kind: Deployment
      name: app
namespace: gpupoet-prod
secretGenerator:
  # db
  - name: db-creds
    envs:
      - .env.secret.db.encrypted
  # app
  - name: app-creds
    envs:
      - .env.secret.app.encrypted
  # image pull secret:
  - name: github-container-registry-secret
    type: kubernetes.io/dockerconfigjson
    files:
      - .dockerconfigjson=ghcr.dockeronfigjson.encrypted
# the images tag: https://kubectl.docs.kubernetes.io/references/kustomize/builtins/#_imagetagtransformer_
images:
  - name: gpupoet-image-app
    newName: ghcr.io/activescott/gpu-agent/app # {"$imagepolicy": "gpupoet-prod:policy-gpupoet-app:name"}
    newTag: v202512131755 # {"$imagepolicy": "gpupoet-prod:policy-gpupoet-app:tag"}
  - name: gpupoet-image-db
    newName: postgres
    newTag: "17"
