apiVersion: v1
kind: PersistentVolume
metadata:
  name: grafana-storage-pv
spec:
  capacity:
    storage: 10Gi
  accessModes:
    - ReadWriteOnce
  persistentVolumeReclaimPolicy: Retain
  storageClassName: ""
  hostPath:
    path: /mnt/thedatapool/app-data/grafana/var-lib-grafana
    type: DirectoryOrCreate
  claimRef:
    name: grafana-storage-pvc
    namespace: monitoring
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: grafana-storage-pvc
  namespace: monitoring
spec:
  accessModes:
    - ReadWriteOnce
  storageClassName: ""
  resources:
    requests:
      storage: 10Gi
  volumeName: grafana-storage-pv
