resources:
  - ./home-assistant-namespace.yaml
  - ../../base/home-assistant

#buildMetadata: [originAnnotations, transformerAnnotations]

namespace: home-assistant

labels:
  - pairs:
      # NOTE: metrics-server seems to label all of their resources with `k8s-app: metrics-server`
      # use `app.activescott.com/name` to avoid conflicts with other people's resources using "app" label.
      app.activescott.com/name: home-assistant

secretGenerator:
  - name: hass-creds
    envs:
      - .env.secret.hass.encrypted

configMapGenerator:
  - name: hass-configuration
    files:
      - config-home-assistant/configuration.yaml

patches:
  - target:
      kind: StatefulSet
      name: home-assistant
    patch: |
      - op: add
        path: /spec/template/spec/volumes/-
        value:
          name: hass-configuration
          configMap:
            name: hass-configuration
      - op: add
        path: /spec/template/spec/containers/0/volumeMounts/-
        value:
          name: hass-configuration
          mountPath: /config/configuration.yaml
          subPath: configuration.yaml
          readOnly: true
