resources:
  - namespace.yaml
  - logs-pv.yaml
  - ../../base/scott-willeke-com/
  - certificate.yaml
  - image-scanning/
patches:
  - path: patch-ingress.yaml
  # patch the volume name in the PVC used for logs:
  - target:
      kind: PersistentVolumeClaim
      name: logs-pvc
    patch: |-
      - op: replace
        path: /spec/volumeName
        value: scott-willeke-com-logs-pv
namespace: scott-willeke-com-prod
secretGenerator:
  # image pull secret:
  - name: github-container-registry-secret
    type: kubernetes.io/dockerconfigjson
    files:
      - .dockerconfigjson=ghcr.dockeronfigjson.encrypted
# the images tag: https://kubectl.docs.kubernetes.io/references/kustomize/builtins/#_imagetagtransformer_
# the imagepolicy markers: https://fluxcd.io/flux/guides/image-update/#configure-image-update-for-custom-resources
images:
  - name: scott-willeke-com-image
    newName: ghcr.io/activescott/www # {"$imagepolicy": "scott-willeke-com-prod:policy-scott-willeke-com:name"}
    newTag: "v202512151646" # {"$imagepolicy": "scott-willeke-com-prod:policy-scott-willeke-com:tag"}
