apiVersion: v1
kind: ConfigMap
metadata:
  name: nginx-redirect-config
data:
  nginx.conf: |
    events {
        worker_connections 1024;
    }

    http {
        server {
            listen 80;
            server_name coinpoet.com www.coinpoet.com;

            # Return 301 permanent redirect to gpupoet.com preserving the path
            return 301 https://gpupoet.com$request_uri;
        }
    }
