apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - namespace.yaml
  - ../../base/searxng/
  - certificate.yaml
  - basic-auth-middleware.yaml

secretGenerator:
  - name: app-creds
    envs:
      - .env.secret.app.encrypted
  - name: basic-auth
    files:
      - auth=basic-auth-htpasswd.encrypted

patches:
  - path: patch-app-deployment.yaml
  - path: patch-app-ingress.yaml

namespace: searxng-prod

labels:
  - pairs:
      app.activescott.com/app: searxng
