apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - ../../base/traefik-redirect/
  - ./namespace.yaml

namespace: oksana-willeke-redirect
namePrefix: oksana-willeke-

configMapGenerator:
  - name: redirect-vars
    literals:
      - HOST=www.oksana.willeke.com
      - REGEX=^https?://www\.oksana\.willeke\.com/.*
      - REPLACEMENT=https://oxanawillekecoaching.com/
      - MIDDLEWARE_REF=oksana-willeke-redirect-oksana-willeke-redirect-middleware@kubernetescrd
      - TLS_SECRET=www-oksana-willeke-com-tls

# Replacements inject ConfigMap values into Middleware and Ingress
replacements:
  - source:
      kind: ConfigMap
      name: redirect-vars
      fieldPath: data.HOST
    targets:
      - select:
          kind: Ingress
          name: redirect-ingress
        fieldPaths:
          - spec.rules.0.host
          - spec.tls.0.hosts.0
  - source:
      kind: ConfigMap
      name: redirect-vars
      fieldPath: data.REGEX
    targets:
      - select:
          kind: Middleware
          name: redirect-middleware
        fieldPaths:
          - spec.redirectRegex.regex
  - source:
      kind: ConfigMap
      name: redirect-vars
      fieldPath: data.REPLACEMENT
    targets:
      - select:
          kind: Middleware
          name: redirect-middleware
        fieldPaths:
          - spec.redirectRegex.replacement
  - source:
      kind: ConfigMap
      name: redirect-vars
      fieldPath: data.MIDDLEWARE_REF
    targets:
      - select:
          kind: Ingress
          name: redirect-ingress
        fieldPaths:
          - metadata.annotations.[traefik.ingress.kubernetes.io/router.middlewares]
  - source:
      kind: ConfigMap
      name: redirect-vars
      fieldPath: data.TLS_SECRET
    targets:
      - select:
          kind: Ingress
          name: redirect-ingress
        fieldPaths:
          - spec.tls.0.secretName

buildMetadata: [originAnnotations, transformerAnnotations]

commonLabels:
  app.activescott.com/name: oksana-willeke-redirect
