resources:
  - ./certificate.yaml
  - ./prometheus-ingress.yaml
  - ./prometheus-pv.yaml
  - ./helmrelease.yaml
  - ./basic-auth-middleware.yaml

# Alerting rules are kept in separate files for easy editing.
# Each file is a strategic merge patch that adds rules to the HelmRelease's serverFiles.
patches:
  - path: alerting-rules-gpupoet.yaml
  - path: alerting-rules-tayle.yaml

secretGenerator:
  - name: alertmanager-secrets
    options:
      disableNameSuffixHash: true
    envs:
      - .env.secret.alertmanager.encrypted
  - name: prometheus-basic-auth
    options:
      disableNameSuffixHash: true
    files:
      - users=basic-auth-users

labels:
  - pairs:
      app.activescott.com/name: prometheus
