apiVersion: v1
kind: PersistentVolume
metadata:
  name: prometheus-storage-pv
spec:
  capacity:
    storage: 200Gi
  accessModes:
    - ReadWriteOnce
  persistentVolumeReclaimPolicy: Retain
  storageClassName: ""
  hostPath:
    path: /mnt/thedatapool/no-backup/app-data/prometheus/storage
    type: DirectoryOrCreate
  claimRef:
    name: prometheus-storage-pvc
    namespace: monitoring
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: prometheus-storage-pvc
  namespace: monitoring
spec:
  accessModes:
    - ReadWriteOnce
  storageClassName: ""
  resources:
    requests:
      storage: 200Gi
  volumeName: prometheus-storage-pv
