apiVersion: v1
kind: ConfigMap
metadata:
  name: searxng-config
data:
  settings.yml: |
    # SearXNG settings
    # See: https://docs.searxng.org/admin/settings/settings.html

    general:
      instance_name: "SearXNG"
      enable_metrics: true

    search:
      safe_search: 0
      autocomplete: ""
      formats:
        - html
        - json
        - csv
        - rss

    server:
      secret_key: "${SEARXNG_SECRET}"
      limiter: false
      public_instance: false
      image_proxy: true
      method: "GET"
      base_url: "${SEARXNG_BASE_URL}"
      default_http_headers:
        X-Content-Type-Options: nosniff
        X-Robots-Tag: noindex, nofollow

    outgoing:
      # OxyLabs residential proxy - US random IP
      proxies:
        all://:
          - "${OXYLABS_PROXY_URL}"
      extra_proxy_timeout: 10.0
      retries: 3
      request_timeout: 10.0

    ui:
      static_use_hash: true
      default_theme: simple
      results_on_new_tab: false

    enabled_plugins:
      - 'Hash plugin'
      - 'Self Information'
      - 'Tracker URL remover'
      - 'Hostnames plugin'
